body {
    font-family: 'Segoe UI';
    margin: 0;
    background: #f5f5f5;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: white;
    border-bottom: 1px solid #ddd;
}

.navbar a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
}

.navbar a.active {
    color: #2d9cdb;
    font-weight: bold;
}